/* Universeel */

body, html {
  padding: 0;
  margin: 0;
  font-family: helvetica-neue, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Content */

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: 100vh auto 100vh 30vh;
}

/****
 Header
 ****/

 header {
   display: grid;
   grid-template-columns: 1fr 50vw 1fr;
   grid-template-rows: 65px 4fr 1fr 1fr;
   grid-column: 1/4;
   grid-row: 1;
   background-image: url("../images/background-blurred.jpg");
   background-size: cover;
   background-position: center;
   color: white;
 }

/* nav */
nav {
  grid-row: 1;
  grid-column: 1/4;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 2fr auto auto;
  transition: all 2s ease;
  z-index: 99;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 30px;
  background: white;
  box-shadow: 3px 0px 6px rgba(0,0,0,0.3);
}

/* Logo */

.logo {
  display: none;
  color: black;
  margin-left: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

/* Menu */
.menu {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-top: 1.5px;
  margin-right: 10px;
  overflow: hidden;
  width: 0px;
  transition: all 700ms ease;
}

.menu-active {
  width: 100%;
}

.menu li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.menu li:hover {
  color: #f1f1f1;
}
.menu .invert li:hover {
  color: purple;
}
/* Hamburger Icon */

nav .hamburger {
  grid-column: 3;
  cursor: pointer;
  justify-self: end;
  margin-right: 15px;
}

nav .hamburger .icon {
  display: block;
  position: relative;
  width: 36px;
  border: 3px solid white;
  border-radius: 3px;
  transition: all 2s ease;
}

nav .hamburger .icon:before,
nav .hamburger .icon:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  border: 3px solid white;
  border-radius: 3px;
  left: -3px;
  transition: all 2s ease;
}

nav .hamburger .icon.invert,
nav .hamburger .icon.invert:after,
nav .hamburger .icon.invert:before {
  border-color: black;
}

nav .hamburger .icon:before {top:8px;}
nav .hamburger .icon:after {top:19px;}

.hero {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  align-self: center;
}

.hero-text {
  font-size: 100px;
  font-weight: bold;
}

.hero-text::after {
  content: "PTT";
}

.hero-sub {
  margin-top: -10px;
  font-size: 20px;
  font-weight: lighter;
}

.reserve-btn {
  font-size: 20px;
  max-width: 200px;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 7px;
  padding: 2px 0;
  text-align: center;
  cursor: pointer;
  margin: 20px auto 0 auto;
}

.arrow {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

.asset-arrow {
  margin-top: 20px;
  cursor: pointer;
}

.arrow-txt {
  font-size: 15px;
  font-weight: lighter;
}

/***
Pages
***/

.page {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: 60px 70% 30%;
}

/** Gallery Page **/

#gallery {
  grid-column: 1/4;
  grid-row: 2;
}

h1 {
  margin-top: 20px;
}

/* Gallery */

.gal {
  grid-column: 2;
  grid-row: 2;
}

#gallery .gallery .bimg {
  position: relative;
  width: 100%;
}

#gallery .gallery .bimg img {
  max-height:100%;
  max-width:100%;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.4);
  transition: all 2s ease;
}

.bimg-info {
  position: absolute;
  width: 100%;
  color: white;
  background: rgba(0,0,0,0.5);
}

.bimg-info h2,
.bimg-info p {
  margin: 10px;
}

.bimg-info p {
  margin-top: -8px;
  font-weight: lighter;
}

#gallery .gallery .smimg {
  width: 30%;
  min-height: 80px;
  margin-right: 3.8%;
  margin-top: 10px;
  box-shadow: -2px -2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
}

#gallery .gallery .smimg:last-child {
  margin-right: 0;
}

/* Quote */

.quote {
  grid-column: 2;
  grid-row: 3;
  padding: 20px;
  height: 100%;
  background: url("../images/quotes.png");
  background-size: cover;
}

blockquote {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

blockquote::after {
  content: "-Matt Mullenweg";
  font-weight: lighter;
  font-size: 20px;
}

/* History */

#history {
  grid-column: 1/4;
  grid-row: 3;

}

.hist {
  grid-row: 2;
  grid-column: 2;
}

.stripe {
  border-bottom: 1px solid #e6e6e6;
}

.reservCTA {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}

.inverse {
  color: black;
  border-color: black;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}


/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 4;
  grid-column: 1/4;
  background-color: #707070;
  color: white;
  padding-top: 40px;
}

.copyright {
  grid-column: 1;
  text-align: center;
}

.sitemap {
  grid-column: 2;
}

.mapdiv {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.sitemap ul li {
  margin-left: 30px;
}

.flogo {
  grid-column 3;
  text-align: center;
}
/***
For phone's in landscape mode
 ***/
 @media screen and (min-width: 667px) {
   .wrapper {
     grid-template-rows: 100vh auto 100vh 30vh;
   }
 }

/***
For desktop
***/
@media screen and (min-width: 992px) {
  .hero-text::after {
    content:"PTT-TOREN"
  }
  .hero-sub {
    margin-top: -5px;
  }
  .page {
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 60px 70% 30%;
  }
}
